@model IEnumerable<DotnetPractical.Models.Student>

@{
	ViewData["Title"] = "GetFullDatails";
}

<h1>GetFullDatails</h1>

@*<p>
	<a asp-action="Create">Create New</a>
*@</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Student_Name)
			</th>
			
			<th>
				@Html.DisplayNameFor(model => model.Stuent_RollNo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student_Age)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Standard)
			</th>
			<th>
				Details
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Student_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Stuent_RollNo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Student_Age)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Standard)
				</td>
				<td>
					@foreach (var subjec in item.Subject)
					{
					<p>@subjec.Name</p> <br />
						foreach (var tec in subjec.Teachers)
						{
						<p>@tec.Teacher_Name</p>
						<br />
						}
					}
				</td>
				@*<td>
					<a asp-action="Edit" asp-route-id="@item.Student_Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Student_Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Student_Id">Delete</a>
				</td>*@
			</tr>
		}
	</tbody>
</table>
